streamlit
langchain
langchain-core
langchain-openai
langchain-community
langchain-chroma
langchain-huggingface
langgraph
chromadb
pypdf
sentence-transformers
python-dotenv
gspread
google-auth
google-auth-oauthlib